<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funnyplayer"
    android:versionCode="100000002"
    android:versionName="1.0.0.2" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/listen"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:name=".MainApplication"
        android:theme="@style/App.CustomTheme" >
        <activity
            android:name="com.funnyplayer.HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/listen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.funnyplayer.TrackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/listen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.View" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.funnyplayer.LrcActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:icon="@drawable/listen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.View" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.funnyplayer.service.MusicService" >
        </service>

        <receiver android:name="com.funnyplayer.broadcast.PhoneStatReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <!-- adchina -->
        <activity
            android:name="com.adchina.android.ads.views.AdBrowserView"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
    </application>

</manifest>