<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.oobe"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="13"/>

    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name" 
    	android:debuggable="true">
    	
    	<provider android:name=".OobeContentProvider"
    	    android:authorities="com.oobe.provider"></provider>
        <activity android:name=".HomeActivity"  
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bar.ProgressbarActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".bar.HotBarActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".webservice.WebserviceActivity"
            android:taskAffinity=""
            android:label="@string/app_name"></activity>
        <activity android:name=".bill.BillActivity"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"></activity>
        <activity android:name=".bitmap.BitmapActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".zoom.ZoomActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".touch.TouchActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".palette.PaletteActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".animation.AnimationActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".tab.OOBETabActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".opengl.OpenGlActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".fragment.FragmentActivity"
        	android:label="@string/app_name">
        </activity>
        <activity android:name=".MidActivity"
        	android:label="@string/app_name">
        </activity>
        <activity android:name=".MainActivity"
        	android:label="@string/app_name">
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity"
            android:uiOptions="splitActionBarWhenNarrow"
        	android:label="@string/app_name">
        </activity>
        <activity android:name=".ReceiveActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".shortcut.ShortCutActivity"
            android:label="@string/app_name">
        </activity>
         <activity android:name=".loadbitmap.DanamicLoadBitmapActivity"
            android:label="@string/app_name">
        </activity>
         <activity android:name=".video.VideoPlayerActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".store.StoreActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".key.KeyActivity"
            android:label="@string/app_name">
        </activity>
        <!-- Define broadcast receiver to monitor intent action -->
        <receiver android:name=".HelloBroadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name=".LocalService"
            android:label="Local Service">
        </service>
        <service android:name=".store.StoreService"
            android:label="Store Service">
        </service>
    </application>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <!-- 在SDCard中创建与删除文件权限 -->     
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>     
	<!-- 往SDCard写入数据权限 -->     
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- Add the permission for creating shortcut-->
	<uses-permission android:name="android.permission.INSTALL_SHORTCUT"/>  
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>